In [1]:
import pandas as pd

In [2]:
match_df = pd.read_csv('../raw_data/matches.csv')
match_df.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,referee,match report,notes,season,team
0,2022-08-07,16:30,Premier League,Matchweek 1,Sun,Away,W,2,0,West Ham,...,0.5,75.0,62443.0,İlkay Gündoğan,4-3-3,Michael Oliver,Match Report,NaN,2022-2023,Manchester City
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4,0,Bournemouth,...,0.1,67.0,53453.0,İlkay Gündoğan,4-2-3-1,David Coote,Match Report,NaN,2022-2023,Manchester City
2,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3,3,Newcastle Utd,...,1.8,69.0,52258.0,İlkay Gündoğan,4-3-3,Jarred Gillett,Match Report,NaN,2022-2023,Manchester City
3,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4,2,Crystal Palace,...,0.1,74.0,53112.0,Kevin De Bruyne,4-2-3-1,Darren England,Match Report,NaN,2022-2023,Manchester City
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,6,0,Nott'ham Forest,...,0.7,74.0,53409.0,İlkay Gündoğan,4-2-3-1,Paul Tierney,Match Report,NaN,2022-2023,Manchester City

In [3]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17480 entries, 0 to 17479
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          17480 non-null  object
 1   time          6840 non-null   object
 2   comp          17480 non-null  object
 3   round         17480 non-null  object
 4   day           17480 non-null  object
 5   venue         17480 non-null  object
 6   result        17480 non-null  object
 7   gf            17480 non-null  int64
 8   ga            17480 non-null  int64
 9   opponent      17480 non-null  object
 10  xg            6840 non-null   float64
 11  xga           16442 non-null  float64
 12  poss          6080 non-null   object
 13  attendance    10528 non-null  object
 14  captain       17480 non-null  object
 15  formation     17480 non-null  object
 16  referee       4560 non-null   object
 17  match report  17480 non-null  object
 18  notes         12920 non-null  object
 19  season        4560 non-null   object
 20  team          4560 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 2.8+ MB

### Clean data

1. Xóa các features không dùng cho việc build model

In [5]:
match_df = match_df.drop(
    columns=[
        "comp",
        "day",
        "gf",
        "ga",
        "xg",
        "xga",
        "notes",
        "match report",
        "poss"
    ]
)

match_df.columns

Index(['date', 'time', 'round', 'venue', 'result', 'opponent', 'attendance',
       'captain', 'formation', 'referee', 'season', 'team'],
      dtype='object')

2. Xử lý các giá trị NaN

In [6]:
match_df = match_df.dropna(subset=["result"])
match_df.shape

(17480, 12)

3. Xử lý formation bị lỗi dữ liệu

In [7]:
match_df['formation'].unique()

array(['4-3-3', '4-2-3-1', '3-4-3', '3-2-4-1', '4-4-2', '4-1-4-1',
       '3-4-3◆', '4-1-2-1-2◆', '3-3-3-1', '3-4-1-2', '3-5-1-1', '3-5-2',
       '4-3-1-2', '4-3-2-1', '4-2-2-2', '5-3-2', '5-4-1', '3-1-4-2',
       '4-4-1-1', '4-5-1', '4-1-3-2', 'Match Report'], dtype=object)

In [9]:
match_df[match_df["formation"] == "Match Report"]

,date,time,round,venue,result,opponent,attendance,captain,formation,referee,season,team
4560,2016-08-15,20:00,Matchweek 1,Home,W,West Ham,4-1-4-1,Anthony Taylor,Match Report,NaN,NaN,NaN
4561,2016-08-20,15:00,Matchweek 2,Away,W,Watford,4-1-4-1,Jonathan Moss,Match Report,NaN,NaN,NaN
4562,2016-08-27,15:00,Matchweek 3,Home,W,Burnley,4-1-4-1,Mark Clattenburg,Match Report,NaN,NaN,NaN
4563,2016-09-11,16:00,Matchweek 4,Away,D,Swansea City,4-1-4-1,Andre Marriner,Match Report,NaN,NaN,NaN
4564,2016-09-16,20:00,Matchweek 5,Home,L,Liverpool,4-2-3-1,Martin Atkinson,Match Report,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
17475,2001-04-28,NaN,Matchweek 36,Away,L,Everton,NaN,Paul Durkin,Match Report,NaN,NaN,NaN
17476,2001-05-01,NaN,Matchweek 21,Home,L,Liverpool,NaN,Jeff Winter,Match Report,NaN,NaN,NaN
17477,2001-05-05,NaN,Matchweek 37,Home,D,Middlesbrough,NaN,Graham Barber,Match Report,NaN,NaN,NaN
17478,2001-05-13,NaN,Matchweek 34,Away,L,Leeds United,NaN,Andy D'Urso,Match Report,NaN,NaN,NaN
17479,2001-05-19,NaN,Matchweek 38,Away,D,Coventry City,NaN,Alan Wiley,Match Report,NaN,NaN,NaN

In [7]:
# Xóa kí tự đặc biệt trong data cột 'formation'
match_df['formation'] = match_df['formation'].str.replace('◆','', regex=False)

def nomalize_formation(value):
    if value.endswith('-0'):
        return value[:-2]
    else:
        return value

match_df['formation'] = match_df['formation'].apply(nomalize_formation)
match_df['formation'].unique()

array(['4-3-3', '4-2-3-1', '5-4-1', '4-1-4-1', '4-4-1-1', '3-4-3',
       '4-3-1-2', '4-1-2-1-2', '4-4-2', '3-4-1-2', '4-3-2-1', '3-1-4-2',
       '4-2-2-2', '5-3-2', '3-5-2', '4-5-1', '3-5-1-1', '3-3-3-1',
       '4-1-3-2', '3-2-4-1'], dtype=object)

4. Xử lý attendance bị missing data

In [8]:
# Fill giá trị thiếu trong cột 'attendance' bằng cách dùng group theo 2 đội đối đầu nhau rồi lấy trung bình
# vì tùy cặp đấu mà lượng khán giả sẽ cao
match_df['attendance'] = match_df.groupby(['team', 'opponent'])['attendance'].transform(lambda x: x.fillna(x.mean()))

# Vì có thể có các cặp chưa từng đấu nên sẽ còn giá trị thiếu => ta sẽ tiếp tục fill data theo trung bình đội đó
match_df['attendance'] = match_df.groupby('team')['attendance'].transform(lambda x: x.fillna(x.mean()))
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5776 entries, 0 to 5775
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        5776 non-null   object
 1   time        5282 non-null   object
 2   round       5776 non-null   object
 3   venue       5776 non-null   object
 4   result      5776 non-null   object
 5   opponent    5776 non-null   object
 6   attendance  5776 non-null   float64
 7   captain     4788 non-null   object
 8   formation   5776 non-null   object
 9   referee     5776 non-null   object
 10  season      5776 non-null   object
 11  team        5776 non-null   object
dtypes: float64(1), object(11)
memory usage: 541.6+ KB

5. Điền giá trị mặc định cho cột time

In [9]:
match_df["time"] = match_df["time"].fillna("00:00")
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5776 entries, 0 to 5775
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        5776 non-null   object
 1   time        5776 non-null   object
 2   round       5776 non-null   object
 3   venue       5776 non-null   object
 4   result      5776 non-null   object
 5   opponent    5776 non-null   object
 6   attendance  5776 non-null   float64
 7   captain     4788 non-null   object
 8   formation   5776 non-null   object
 9   referee     5776 non-null   object
 10  season      5776 non-null   object
 11  team        5776 non-null   object
dtypes: float64(1), object(11)
memory usage: 541.6+ KB

6. Sửa lại tên đội đúng

In [10]:
# Hàm lấy ra dataFrame tên khác nhau của 2 cột
def compare_team_component():
    sorted_unique_teams = sorted(match_df["team"].unique())
    sorted_unique_opponents = sorted(match_df["opponent"].unique())

    # Tạo DataFrame để hiển thị các tên đội đã được sắp xếp
    team_df = pd.DataFrame(sorted_unique_teams, columns=["Team Names"])
    opponent_df = pd.DataFrame(sorted_unique_opponents, columns=["Opponent Names"])

    # Vì số lượng tên trong mỗi danh sách có thể không bằng nhau, ta cần thêm các hàng trống cho DataFrame ngắn hơn
    max_length = max(len(team_df), len(opponent_df))
    team_df = team_df.reindex(range(max_length)).fillna("")
    opponent_df = opponent_df.reindex(range(max_length)).fillna("")

    # Kết hợp hai DataFrame để dễ so sánh
    comparison_df = pd.concat([team_df, opponent_df], axis=1)
    comparison_df = comparison_df[
        comparison_df["Team Names"] != comparison_df["Opponent Names"]
    ]
    return comparison_df


comparison_df = compare_team_component()
comparison_df

                  Team Names   Opponent Names
4   Brighton and Hove Albion         Brighton
5                    Chelsea          Burnley
6             Crystal Palace     Cardiff City
7                    Everton          Chelsea
8                     Fulham   Crystal Palace
9               Leeds United          Everton
10            Leicester City           Fulham
11                 Liverpool     Huddersfield
12           Manchester City        Hull City
13         Manchester United     Leeds United
14          Newcastle United   Leicester City
15         Nottingham Forest        Liverpool
16               Southampton  Manchester City
17         Tottenham Hotspur   Manchester Utd
18           West Ham United    Middlesbrough
19   Wolverhampton Wanderers    Newcastle Utd
20                               Norwich City
21                            Nott'ham Forest
22                                        QPR
23                              Sheffield Utd
24                                Southampton
25                                 Stoke City
26                                 Sunderland
27                               Swansea City
28                                  Tottenham
29                                    Watford
30                                  West Brom
31                                   West Ham
32                                     Wolves

In [11]:
# Mảng các tên đội cần đổi lại để đồng nhất 2 cột
rename_dict = {
    "Brighton": "Brighton and Hove Albion",
    "Manchester Utd": "Manchester United",
    "Newcastle Utd": "Newcastle United",
    "Nott'ham Forest": "Nottingham Forest",
    "Sheffield Utd": "Sheffield United",
    "Tottenham": "Tottenham Hotspur",
    "West Brom": "West Bromwich Albion",
    "West Ham": "West Ham United",
    "Wolves": "Wolverhampton Wanderers",
}

match_df['opponent'] = match_df['opponent'].replace(rename_dict)

comparison_df = compare_team_component()
comparison_df

                 Team Names           Opponent Names
5                   Chelsea                  Burnley
6            Crystal Palace             Cardiff City
7                   Everton                  Chelsea
8                    Fulham           Crystal Palace
9              Leeds United                  Everton
10           Leicester City                   Fulham
11                Liverpool             Huddersfield
12          Manchester City                Hull City
13        Manchester United             Leeds United
14         Newcastle United           Leicester City
15        Nottingham Forest                Liverpool
16              Southampton          Manchester City
17        Tottenham Hotspur        Manchester United
18          West Ham United            Middlesbrough
19  Wolverhampton Wanderers         Newcastle United
20                                      Norwich City
21                                 Nottingham Forest
22                                               QPR
23                                  Sheffield United
24                                       Southampton
25                                        Stoke City
26                                        Sunderland
27                                      Swansea City
28                                 Tottenham Hotspur
29                                           Watford
30                              West Bromwich Albion
31                                   West Ham United
32                           Wolverhampton Wanderers

In [13]:
match_df.to_csv('../raw_data/clean_data.csv', index=False)